<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <application
        android:name=".RabbitApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rabbit"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ui.MainActivity"
            android:exported="false" />

        <activity
            android:name=".ui.CreateHouseActivity"
            android:exported="false" />

        <activity
            android:name=".ui.CagesActivity"
            android:exported="false" />

        <activity
            android:name=".ui.CagesGridActivity"
            android:exported="false" />

        <activity
            android:name=".ui.CagesManageActivity"
            android:exported="false" />

        <activity
            android:name=".ui.EventsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.RabbitsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.CreateRabbitActivity"
            android:exported="false" />

        <activity
            android:name=".ui.RabbitEditActivity"
            android:exported="false" />

        <activity
            android:name=".ui.BatchesActivity"
            android:exported="false" />

        <activity
            android:name=".ui.BatchDetailActivity"
            android:exported="false" />

        <activity
            android:name=".ui.CreateBatchActivity"
            android:exported="false" />

        <activity
            android:name=".ui.BatchOpsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.RecordListActivity"
            android:exported="false" />

        <activity
            android:name=".ui.FeedLogsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.AbnormalActivity"
            android:exported="false" />

        <activity
            android:name=".ui.ReplacementActivity"
            android:exported="false" />

        <activity
            android:name=".ui.ReplacementRecordsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.WeightLogsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.SalesActivity"
            android:exported="false" />

        <activity
            android:name=".ui.SaleDetailActivity"
            android:exported="false" />

        <activity
            android:name=".ui.DepartureRecordsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.SettingsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.AuditLogsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.EventReminderLogsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.HardwareControlActivity"
            android:exported="false" />

        <activity
            android:name=".ui.CycleSettingsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.RabbitEventToolActivity"
            android:exported="false" />

        <activity
            android:name=".ui.TreatmentToolActivity"
            android:exported="false" />

        <activity
            android:name=".ui.SaleToolActivity"
            android:exported="false" />

        <activity
            android:name=".ui.InventoryActivity"
            android:exported="false" />

        <activity
            android:name=".ui.HouseMembersActivity"
            android:exported="false" />

        <activity
            android:name=".ui.ReportsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.BreedingPerformanceActivity"
            android:exported="false" />

        <activity
            android:name=".ui.SelectRabbitActivity"
            android:exported="false" />

        <activity
            android:name=".ui.RabbitStatusHistoryActivity"
            android:exported="false" />

        <activity
            android:name=".ui.PendingOpsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.NfcRouterActivity"
            android:exported="true"
            android:noHistory="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:scheme="rabbitapp"
                    android:host="cage" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:scheme="rabbitapp"
                    android:host="feed" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:scheme="rabbitapp"
                    android:host="treatment" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:scheme="rabbitapp"
                    android:host="sale" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>

        <activity
            android:name=".ui.NfcBindActivity"
            android:exported="false" />

        <activity
            android:name=".ui.NfcQuickBindActivity"
            android:exported="false" />

        <activity
            android:name=".ui.NfcTagsManageActivity"
            android:exported="false" />

        <activity
            android:name=".ui.CageSummaryActivity"
            android:exported="false"
            android:theme="@style/Theme.Rabbit.Dialog" />

        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
