<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rabbit.app.modules.batch.mapper.BreedingCycleMapper">
    <resultMap id="Map" type="com.rabbit.app.modules.batch.entity.BreedingCycle">
        <id column="id" property="id"/>
        <result column="house_id" property="houseId"/>
        <result column="batch_id" property="batchId"/>
        <result column="mother_rabbit_id" property="motherRabbitId"/>
        <result column="male_rabbit_id" property="maleRabbitId"/>
        <result column="cycle_no" property="cycleNo"/>
        <result column="mating_date" property="matingDate"/>
        <result column="pregnancy_check_date" property="pregnancyCheckDate"/>
        <result column="pregnancy_result" property="pregnancyResult"/>
        <result column="expected_birth_date" property="expectedBirthDate"/>
        <result column="birth_date" property="birthDate"/>
        <result column="total_kits" property="totalKits"/>
        <result column="live_kits" property="liveKits"/>
        <result column="foster_in_kits" property="fosterInKits"/>
        <result column="foster_out_kits" property="fosterOutKits"/>
        <result column="current_nursing_kits" property="currentNursingKits"/>
        <result column="weaned_kits" property="weanedKits"/>
        <result column="preweaning_loss_kits" property="preweaningLossKits"/>
        <result column="weaning_date" property="weaningDate"/>
        <result column="avg_weaning_weight" property="avgWeaningWeight"/>
        <result column="lactation_days" property="lactationDays"/>
        <result column="closed_at" property="closedAt"/>
        <result column="close_reason" property="closeReason"/>
        <result column="request_id" property="requestId"/>
        <result column="remark" property="remark"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>



    <sql id="scope">
        house_id = #{houseId}
        and batch_id = #{batchId}
        and mother_rabbit_id = #{motherRabbitId}
    </sql>



    <select id="selectByBatch" resultMap="Map">
        select * from breeding_cycles
        where house_id = #{houseId} and batch_id = #{batchId}
        <if test="motherRabbitId != null">
            and mother_rabbit_id = #{motherRabbitId}
        </if>
        <if test="activeOnly != null and activeOnly">
            and closed_at is null
        </if>
        order by mother_rabbit_id, cycle_no desc
    </select>











    <!-- 以 lifecycle 为准：doe-breeding-v2 之后它才是周期是否进行中的权威判据。 -->
    <select id="countOpenLifecycleByBatch" resultType="int">
        select count(1)
        from breeding_cycles
        where house_id = #{houseId}
          and batch_id = #{batchId}
          and lifecycle = 'OPEN'
    </select>




</mapper>
