<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rabbit.app.modules.rabbit.mapper.ReplacementBatchAllocationMapper">
    <insert id="insertBatch">
        insert into replacement_batch_allocations (
            house_id, request_id, source_batch_id, rabbit_count, total_weight_kg, created_by
        ) values
        <foreach collection="allocations" item="allocation" separator=",">
            (#{allocation.houseId}, #{allocation.requestId}, #{allocation.sourceBatchId},
             #{allocation.rabbitCount}, #{allocation.totalWeightKg}, #{allocation.createdBy})
        </foreach>
    </insert>

</mapper>
